<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Password Generator</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="background-animation"></div>

<nav class="navbar">

<div class="logo">

🛡 Cyber Security Toolkit

</div>

<ul>

<li>
<a href="/dashboard">
<i class="fa-solid fa-house"></i>
Dashboard
</a>
</li>

<li>
<a href="/tools">
<i class="fa-solid fa-toolbox"></i>
Tools
</a>
</li>

<li>
<a href="/history">
<i class="fa-solid fa-clock-rotate-left"></i>
History
</a>
</li>

<li>
<a href="/reports">
<i class="fa-solid fa-chart-column"></i>
Reports
</a>
</li>

<li>
<a href="/admin">
<i class="fa-solid fa-user-shield"></i>
Admin
</a>
</li>

<li>
<a href="/about">
<i class="fa-solid fa-circle-info"></i>
About
</a>
</li>

<li>
<a href="/logout">
<i class="fa-solid fa-right-from-bracket"></i>
Logout
</a>
</li>

</ul>

</nav>

<div class="container">

<h1>

🔑 Password Generator

</h1>

<p>

Generate a secure password instantly.

</p>

<form method="POST">

<label>Password Length</label>

<input
type="number"
name="length"
min="8"
max="50"
value="16"
required>

<br><br>

<label>

<input
type="checkbox"
name="uppercase"
checked>

Uppercase Letters

</label>

<br><br>

<label>

<input
type="checkbox"
name="lowercase"
checked>

Lowercase Letters

</label>

<br><br>

<label>

<input
type="checkbox"
name="numbers"
checked>

Numbers

</label>

<br><br>

<label>

<input
type="checkbox"
name="symbols"
checked>

Special Characters

</label>

<br><br>

<button type="submit">

Generate Password

</button>

</form>

{% if password %}

<div class="result">

<h2>

Generated Password

</h2>

<input
type="text"
id="generatedPassword"
value="{{ password }}"
readonly>

<br><br>

<button
type="button"
onclick="copyPassword()">

📋 Copy Password

</button>

</div>

{% endif %}

</div>

<script>

function copyPassword(){

const copy=document.getElementById("generatedPassword");

copy.select();

copy.setSelectionRange(0,99999);

navigator.clipboard.writeText(copy.value);

alert("Password Copied!");

}

</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>

<script src="{{ url_for('static', filename='matrix.js') }}"></script>

</body>
</html>